* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(238, 221, 200);
}

p {
  font-size: 8rem;
  margin-bottom: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  position: relative;
  color: #e3e3e3;
  background-color: rgb(19, 19, 19);
  cursor: pointer;
  border: 0;
  border-radius: 7px;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 4rem;
    min-height: 60px;
  }

  button {
    font-size: 1rem;
    padding: 8px 16px;
    position: relative;
  }
}
